.formStyle {
  margin-top: 10em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 49.7%);
}

.boxStyle {
  background-color: #dcdcdc;
  background: linear-gradient(45deg, #fff, #dcdcdc);
  text-align: center;
}
