
.itemWrapper{
  background-color: #dcdcdc;
  background: linear-gradient(45deg, #fff, #dcdcdc);
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5,19.5%);
}
